In [1]:
#Here we import the output files from all other notebooks and display head()
import pandas as pd

file_path = "/kaggle/input/goal1/stacked_output.pkl"

goal1 = pd.read_pickle(file_path)

display(goal1.head())


file_path = '/kaggle/input/goal2/goal2.pkl'  

goal2 = pd.read_pickle(file_path)

display(goal2.head())




file_path = '/kaggle/input/goal-3/goal3.pkl'  

goal3 = pd.read_pickle(file_path)

display(goal3.head())

file_path = '/kaggle/input/goal4/goal4.pkl'  

goal4 = pd.read_pickle(file_path)
goal4["Goal"] = "4"

display(goal4.head())

file_path = '/kaggle/input/goal5/goal5.pkl'  

goal5 = pd.read_pickle(file_path)

display(goal5.head())

,unitid,Year,Metric,KPI_Description,Objective,Goal,KPI_Target
0,100654,2022,0.133344,Percentage of all students enrolled in graduat...,I.B.II,1,0.2
1,100663,2022,0.397754,Percentage of all students enrolled in graduat...,I.B.II,1,0.2
2,100690,2022,0.647604,Percentage of all students enrolled in graduat...,I.B.II,1,0.2
3,100706,2022,0.223882,Percentage of all students enrolled in graduat...,I.B.II,1,0.2
4,100724,2022,0.138976,Percentage of all students enrolled in graduat...,I.B.II,1,0.2

,unitid,Metric,Year,KPI_Description,Objective,KPI_Target,Goal
71,100654,3.0,2014,Number of research doctoral programs,II.B.I,4.0,2
189,100663,31.0,2014,Number of research doctoral programs,II.B.I,4.0,2
210,100690,1.0,2014,Number of research doctoral programs,II.B.I,4.0,2
281,100706,14.0,2014,Number of research doctoral programs,II.B.I,4.0,2
341,100724,2.0,2014,Number of research doctoral programs,II.B.I,4.0,2

,unitid,Year,Metric,KPI_Description,Objective,Goal,KPI_Target
0,226107,2023,0.311853,Percentage of enrolled students from historica...,III.B.I,3,0.51
1,226116,2023,0.755709,Percentage of enrolled students from historica...,III.B.I,3,0.51
2,226134,2023,0.981576,Percentage of enrolled students from historica...,III.B.I,3,0.51
3,226152,2023,0.935494,Percentage of enrolled students from historica...,III.B.I,3,0.51
4,226204,2023,0.688695,Percentage of enrolled students from historica...,III.B.I,3,0.51

,unitid,Year,Metric,KPI_Description,Objective,Goal,KPI_Target
0,196699,2015,0.000000e+00,Increase total research expenditures to reach ...,IV.A.I,4,50000000.0
1,197027,2015,0.000000e+00,Increase total research expenditures to reach ...,IV.A.I,4,50000000.0
2,197036,2015,2.320241e+07,Increase total research expenditures to reach ...,IV.A.I,4,50000000.0
3,197294,2015,0.000000e+00,Increase total research expenditures to reach ...,IV.A.I,4,50000000.0
4,197814,2015,0.000000e+00,Increase total research expenditures to reach ...,IV.A.I,4,50000000.0

,unitid,Year,Metric,KPI_Description,Objective,Goal,KPI_Target
0,100654,2022,0.284685,Percentage of expenditures related to teaching...,V.B.I,5,0.55
1,100663,2022,0.223521,Percentage of expenditures related to teaching...,V.B.I,5,0.55
2,100706,2022,0.673267,Percentage of expenditures related to teaching...,V.B.I,5,0.55
3,100724,2022,0.275412,Percentage of expenditures related to teaching...,V.B.I,5,0.55
4,100733,2022,0.000000,Percentage of expenditures related to teaching...,V.B.I,5,0.55

In [2]:
#Melting the goal tables I pkl this table just in case we need this version for something
import pandas as pd

melted_tables = [
    goal1,
    goal2,
    goal3,
    goal4,
    goal5,
]  

stacked_dataframe = pd.concat(melted_tables, ignore_index=True)

output_file_path = "/kaggle/working/stacked_goals.csv"
#stacked_dataframe.to_csv(output_file_path, index=False)

print(f"CSV file has been saved to {output_file_path}")

CSV file has been saved to /kaggle/working/stacked_goals.csv

In [3]:

#this is the merge of the goals table to the HD2023 file
import pandas as pd

table1_path = '/kaggle/input/hd2023/HD2023/hd2023.csv'  

master_table = pd.read_csv(table1_path,encoding='ISO-8859-1')

master_table.rename(columns={'UNITID': 'unitid'}, inplace=True)
master_table['unitid'] = master_table['unitid'].astype(str)
stacked_dataframe['unitid'] = stacked_dataframe['unitid'].astype(str)
master_table = pd.merge(
    master_table,
    stacked_dataframe,
    on='unitid',  
    how='left',
    validate='one_to_many'
)

display(master_table.head())

,unitid,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG,Year,Metric,KPI_Description,Objective,Goal,KPI_Target
0,100654,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1,5,Dr. Daniel K. Wims,...,-86.568502,34.783368,106,1,2022,0.133344,Percentage of all students enrolled in graduat...,I.B.II,1,0.2
1,100654,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1,5,Dr. Daniel K. Wims,...,-86.568502,34.783368,106,1,2021,0.144413,Percentage of all students enrolled in graduat...,I.B.II,1,0.2
2,100654,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1,5,Dr. Daniel K. Wims,...,-86.568502,34.783368,106,1,2020,0.147900,Percentage of all students enrolled in graduat...,I.B.II,1,0.2
3,100654,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1,5,Dr. Daniel K. Wims,...,-86.568502,34.783368,106,1,2019,0.145658,Percentage of all students enrolled in graduat...,I.B.II,1,0.2
4,100654,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1,5,Dr. Daniel K. Wims,...,-86.568502,34.783368,106,1,2018,0.157714,Percentage of all students enrolled in graduat...,I.B.II,1,0.2

In [4]:
#grabbing the assoc1 from the IC; this was a variable that was used before that only existed in this file so i grabbed it and out it in here so we can use it its member of NCAA pretty important one
import pandas as pd

ic2023 = pd.read_csv('/kaggle/input/hd2023/IC2023/ic2023.csv')

ic2023.rename(columns={'UNITID': 'unitid'}, inplace=True)

ic2023['unitid'] = ic2023['unitid'].astype(str)

ic2023_filtered = ic2023[['unitid', 'ASSOC1']]

master_table = master_table.merge(ic2023_filtered, on='unitid', how='left')

In [5]:
#the ones commented out dont exist in this table set or in the IC2023 these were from the DR tables that were used before but we can also just pull them from from raw data if you want them included I dont think we will see a diff in the end

#filters 
master_table = master_table[
    (master_table['SECTOR'] == 1) &         # Public 4-year or above
    # (master_table['CNTLAFFI'] == 1) &      # Public (commented out as per your code)
    (master_table['OPEFLAG'] == 1) &       # Title IV participating
    (master_table['INSTCAT'] == 2) &       # Degree-Granting university
    (master_table['PSET4FLG'] == 1) &      # Postsecondary and Title IV institution
    (master_table['DEGGRANT'] == 1) &      # Degree granting
    (master_table['HLOFFER'] == 9) &       # Highest Level of offering = PhD
    (master_table['ASSOC1'] == 1) &        # Member of NCAA
    # (master_table['FORM_F'] == 4) &        # GASB financial reporting standard
    (master_table['FIPS'] <= 56)           # US state (<= 56) and not territory (> 56)
]

# Optional filters
master_table = master_table[
    # (filtered_master_table['ENTROT'] > 10000) &  # Total enrollment > 10,000 
    # (filtered_master_table['EFGRAD'] > 0) &      # Graduate enrollment > 0 
    (master_table['LOCALE'] >= 13) &    # Urbanization: 13 or higher
    (master_table['C18BASIC'].isin([16, 17, 18]))  # Carnegie classification
]

display(master_table)

,unitid,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,LATITUDE,DFRCGID,DFRCUSCG,Year,Metric,KPI_Description,Objective,Goal,KPI_Target,ASSOC1
2993,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,Don Killingsworth,...,33.822938,104,2,2022,0.137251,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0
2994,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,Don Killingsworth,...,33.822938,104,2,2021,0.154403,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0
2995,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,Don Killingsworth,...,33.822938,104,2,2020,0.161399,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0
2996,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,Don Killingsworth,...,33.822938,104,2,2019,0.141004,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0
2997,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,Don Killingsworth,...,33.822938,104,2,2018,0.136573,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460246,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,R. Lorraine Bernotsky,...,40.064964,103,1,2017,NaN,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0
460247,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,R. Lorraine Bernotsky,...,40.064964,103,1,2016,NaN,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0
460248,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,R. Lorraine Bernotsky,...,40.064964,103,1,2015,NaN,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0
460249,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,R. Lorraine Bernotsky,...,40.064964,103,1,2014,NaN,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0
460250,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,R. Lorraine Bernotsky,...,40.064964,103,1,2013,NaN,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0

In [6]:
#always saving before applying anything to it we can del this cell 
master_table.to_pickle('/kaggle/working/master_table2.pkl')

In [7]:

#this is tarleton information for each KPI I found all my bugs using this method of search; if some dtypes were messed up they would show up as NANS so thanks to tarleton for always reporting 
import pandas as pd


master_table['unitid'] = master_table['unitid'].astype(str)
master_table['Metric'] = pd.to_numeric(master_table['Metric'], errors='coerce')

kpi_tables = {}

unique_kpis = master_table['KPI_Description'].unique()
unitid_filter = '228529'
#filter each KPI then group and sort
for kpi in unique_kpis:
    filtered_data_for_kpi = master_table[
        (master_table['unitid'] == (unitid_filter)) &
        (master_table['KPI_Description'] == kpi)
    ][['unitid', 'Year', 'KPI_Description','Goal', 'Metric']].sort_values(by='Year')
    
    kpi_tables[kpi] = filtered_data_for_kpi
    #show what filtered table 
    print(f"\nFiltered Data for KPI: {kpi}")
    display(filtered_data_for_kpi)

Filtered Data for KPI: Percentage of all students enrolled in graduate and professional programs

,unitid,Year,KPI_Description,Goal,Metric
306502,228529,2016,Percentage of all students enrolled in graduat...,1,0.121542
306501,228529,2017,Percentage of all students enrolled in graduat...,1,0.132960
306500,228529,2018,Percentage of all students enrolled in graduat...,1,0.136853
306499,228529,2019,Percentage of all students enrolled in graduat...,1,0.137931
306498,228529,2020,Percentage of all students enrolled in graduat...,1,0.151470
306497,228529,2021,Percentage of all students enrolled in graduat...,1,0.166417
306496,228529,2022,Percentage of all students enrolled in graduat...,1,0.156968

Filtered Data for KPI: Transfer headcount/enrollment

        unitid  Year                KPI_Description Goal  Metric
306512  228529  2013  Transfer headcount/enrollment    1  1742.0
306511  228529  2014  Transfer headcount/enrollment    1  1227.0
306510  228529  2015  Transfer headcount/enrollment    1  1423.0
306509  228529  2016  Transfer headcount/enrollment    1  1443.0
306508  228529  2017  Transfer headcount/enrollment    1  1347.0
306507  228529  2018  Transfer headcount/enrollment    1  1377.0
306506  228529  2019  Transfer headcount/enrollment    1  1372.0
306505  228529  2020  Transfer headcount/enrollment    1  1364.0
306504  228529  2021  Transfer headcount/enrollment    1  1339.0
306503  228529  2022  Transfer headcount/enrollment    1  1306.0

Filtered Data for KPI: FTIC headcount/enrollment

        unitid  Year            KPI_Description Goal  Metric
306522  228529  2013  FTIC headcount/enrollment    1  1827.0
306521  228529  2014  FTIC headcount/enrollment    1  2073.0
306520  228529  2015  FTIC headcount/enrollment    1  1955.0
306519  228529  2016  FTIC headcount/enrollment    1  2169.0
306518  228529  2017  FTIC headcount/enrollment    1  1899.0
306517  228529  2018  FTIC headcount/enrollment    1  2161.0
306516  228529  2019  FTIC headcount/enrollment    1  2073.0
306515  228529  2020  FTIC headcount/enrollment    1  2274.0
306514  228529  2021  FTIC headcount/enrollment    1  2150.0
306513  228529  2022  FTIC headcount/enrollment    1  2448.0

Filtered Data for KPI: Overall enrollment - Unduplicated headcount

,unitid,Year,KPI_Description,Goal,Metric
306532,228529,2014,Overall enrollment - Unduplicated headcount,1,12947.0
306531,228529,2015,Overall enrollment - Unduplicated headcount,1,13647.0
306530,228529,2016,Overall enrollment - Unduplicated headcount,1,14293.0
306529,228529,2017,Overall enrollment - Unduplicated headcount,1,14978.0
306528,228529,2018,Overall enrollment - Unduplicated headcount,1,14950.0
306527,228529,2019,Overall enrollment - Unduplicated headcount,1,15191.0
306526,228529,2020,Overall enrollment - Unduplicated headcount,1,15196.0
306525,228529,2021,Overall enrollment - Unduplicated headcount,1,16109.0
306524,228529,2022,Overall enrollment - Unduplicated headcount,1,16049.0
306523,228529,2023,Overall enrollment - Unduplicated headcount,1,17448.0

Filtered Data for KPI: Number of students awarded credentials who are 25 or older

,unitid,Year,KPI_Description,Goal,Metric
306533,228529,2013,Number of students awarded credentials who are...,1,1145.0
306540,228529,2014,Number of students awarded credentials who are...,1,0.0
306539,228529,2015,Number of students awarded credentials who are...,1,0.0
306535,228529,2016,Number of students awarded credentials who are...,1,1227.0
306542,228529,2017,Number of students awarded credentials who are...,1,1351.0
306541,228529,2018,Number of students awarded credentials who are...,1,1410.0
306543,228529,2019,Number of students awarded credentials who are...,1,1397.0
306537,228529,2020,Number of students awarded credentials who are...,1,1502.0
306534,228529,2021,Number of students awarded credentials who are...,1,1564.0
306536,228529,2022,Number of students awarded credentials who are...,1,1541.0
306538,228529,2023,Number of students awarded credentials who are...,1,1602.0

Filtered Data for KPI: Six-year graduation rate for FTICs

        unitid  Year                     KPI_Description Goal  Metric
306553  228529  2013  Six-year graduation rate for FTICs    1   0.434
306552  228529  2014  Six-year graduation rate for FTICs    1   0.447
306551  228529  2015  Six-year graduation rate for FTICs    1   0.440
306550  228529  2016  Six-year graduation rate for FTICs    1   0.430
306549  228529  2017  Six-year graduation rate for FTICs    1   0.463
306548  228529  2018  Six-year graduation rate for FTICs    1   0.463
306547  228529  2019  Six-year graduation rate for FTICs    1   0.491
306546  228529  2020  Six-year graduation rate for FTICs    1   0.458
306545  228529  2021  Six-year graduation rate for FTICs    1   0.488
306544  228529  2022  Six-year graduation rate for FTICs    1   0.458

Filtered Data for KPI: Number of research doctoral programs

        unitid  Year                       KPI_Description Goal  Metric
306554  228529  2014  Number of research doctoral programs    2     1.0
306555  228529  2015  Number of research doctoral programs    2     1.0
306556  228529  2016  Number of research doctoral programs    2     1.0
306557  228529  2017  Number of research doctoral programs    2     1.0
306558  228529  2018  Number of research doctoral programs    2     1.0
306559  228529  2019  Number of research doctoral programs    2     1.0
306560  228529  2020  Number of research doctoral programs    2     1.0
306561  228529  2021  Number of research doctoral programs    2     2.0
306562  228529  2022  Number of research doctoral programs    2     2.0

Filtered Data for KPI: Number of research masters programs

        unitid  Year                      KPI_Description Goal  Metric
306563  228529  2014  Number of research masters programs    2    26.0
306564  228529  2015  Number of research masters programs    2    26.0
306565  228529  2016  Number of research masters programs    2    36.0
306566  228529  2017  Number of research masters programs    2    36.0
306567  228529  2018  Number of research masters programs    2    35.0
306568  228529  2019  Number of research masters programs    2    27.0
306569  228529  2020  Number of research masters programs    2    30.0
306570  228529  2021  Number of research masters programs    2    34.0
306571  228529  2022  Number of research masters programs    2    34.0

Filtered Data for KPI: Percentage of enrolled students from historically underrepresented groups

,unitid,Year,KPI_Description,Goal,Metric
306581,228529,2014,Percentage of enrolled students from historica...,3,0.279833
306580,228529,2015,Percentage of enrolled students from historica...,3,0.301458
306579,228529,2016,Percentage of enrolled students from historica...,3,0.320087
306578,228529,2017,Percentage of enrolled students from historica...,3,0.334424
306577,228529,2018,Percentage of enrolled students from historica...,3,0.343478
306576,228529,2019,Percentage of enrolled students from historica...,3,0.354355
306575,228529,2020,Percentage of enrolled students from historica...,3,0.364964
306574,228529,2021,Percentage of enrolled students from historica...,3,0.369793
306573,228529,2022,Percentage of enrolled students from historica...,3,0.371612
306572,228529,2023,Percentage of enrolled students from historica...,3,0.382451

Filtered Data for KPI: Latino student enrollment

        unitid  Year            KPI_Description Goal  Metric
306591  228529  2014  Latino student enrollment    3  1830.0
306590  228529  2015  Latino student enrollment    3  2095.0
306589  228529  2016  Latino student enrollment    3  2419.0
306588  228529  2017  Latino student enrollment    3  2718.0
306587  228529  2018  Latino student enrollment    3  2776.0
306586  228529  2019  Latino student enrollment    3  2980.0
306585  228529  2020  Latino student enrollment    3  3133.0
306584  228529  2021  Latino student enrollment    3  3458.0
306583  228529  2022  Latino student enrollment    3  3451.0
306582  228529  2023  Latino student enrollment    3  3943.0

Filtered Data for KPI: Increase total research expenditures to reach a 3-year rolling average of $50M

,unitid,Year,KPI_Description,Goal,Metric
306592,228529,2015,Increase total research expenditures to reach ...,4,1.011148e+07
306593,228529,2016,Increase total research expenditures to reach ...,4,1.046318e+07
306594,228529,2017,Increase total research expenditures to reach ...,4,1.059203e+07
306595,228529,2018,Increase total research expenditures to reach ...,4,1.132018e+07
306596,228529,2019,Increase total research expenditures to reach ...,4,1.243078e+07
306597,228529,2020,Increase total research expenditures to reach ...,4,1.450505e+07
306598,228529,2021,Increase total research expenditures to reach ...,4,1.731392e+07
306599,228529,2022,Increase total research expenditures to reach ...,4,2.049988e+07

Filtered Data for KPI:  sponsored research

        unitid  Year      KPI_Description Goal      Metric
306609  228529  2013   sponsored research    4   9059320.0
306608  228529  2014   sponsored research    4  10838113.0
306607  228529  2015   sponsored research    4  10436997.0
306606  228529  2016   sponsored research    4  10114435.0
306605  228529  2017   sponsored research    4  11224667.0
306604  228529  2018   sponsored research    4  12621436.0
306603  228529  2019   sponsored research    4  13446224.0
306602  228529  2020   sponsored research    4  17447486.0
306601  228529  2021   sponsored research    4  21048036.0
306600  228529  2022   sponsored research    4  23004112.0

Filtered Data for KPI: Percentage of expenditures related to teaching, research, and public service

,unitid,Year,KPI_Description,Goal,Metric
306619,228529,2013,Percentage of expenditures related to teaching...,5,0.468586
306618,228529,2014,Percentage of expenditures related to teaching...,5,0.471272
306617,228529,2015,Percentage of expenditures related to teaching...,5,0.449991
306616,228529,2016,Percentage of expenditures related to teaching...,5,0.447895
306615,228529,2017,Percentage of expenditures related to teaching...,5,0.448535
306614,228529,2018,Percentage of expenditures related to teaching...,5,0.425961
306613,228529,2019,Percentage of expenditures related to teaching...,5,0.435268
306612,228529,2020,Percentage of expenditures related to teaching...,5,0.380746
306611,228529,2021,Percentage of expenditures related to teaching...,5,0.348010
306610,228529,2022,Percentage of expenditures related to teaching...,5,0.292692

In [8]:
#all these PD.conversion (numeric or string types) are because in some tables in the goal notebooks there were mixed types that when read obv show object types from pandas
#didnt think anything of it but for instance in metric column some schools would report with COMMMAS and other with no commas in fact only like 30ish schools used commas and everyone else didnt sooo not something
#i wouldve caught but tarleton was one of those schools so for every KPI i checked for commas and my NANS went down by alot 
#we can remove them as i think they arent needed but the code works with them in so i just left thm here

master_table['Metric'] = pd.to_numeric(master_table['Metric'], errors='coerce')

unique_unitids = master_table['unitid'].unique()
unique_kpis = master_table['KPI_Description'].unique()

interpolated_results = pd.DataFrame()

total_nans_before = master_table['Metric'].isna().sum()
#interpolating by KPI_Description and not whole set
for unitid in unique_unitids:
    for kpi in unique_kpis:
        filtered_data_for_kpi = master_table[
            (master_table['unitid'] == unitid) &
            (master_table['KPI_Description'] == kpi)
        #order by year for inter 
        ][['unitid', 'Year', 'KPI_Description', 'Metric', 'Goal']].sort_values(by='Year')
        #this tracks where NANS existed
        filtered_data_for_kpi['NaNs_Before'] = filtered_data_for_kpi['Metric'].isna().sum()
        
        #ended with this since the totals NANS went from 28000 to 292 so we can actually use it and it have little no impact but since we are filtering for each KPI_Description if we impute here it will only impute from values associated with 
        #this school and this KPI; as before we thought it would impute with values learned from other schools; but what we have here will work 
        filtered_data_for_kpi['Metric'] = filtered_data_for_kpi['Metric'].interpolate(method='linear').ffill().bfill()
        
        filtered_data_for_kpi['NaNs_After'] = filtered_data_for_kpi['Metric'].isna().sum()
        
        interpolated_results = pd.concat([interpolated_results, filtered_data_for_kpi])

total_nans_after = interpolated_results['Metric'].isna().sum()

nan_rows = interpolated_results[interpolated_results['Metric'].isna()]

nan_details = nan_rows[['unitid', 'Year', 'KPI_Description', 'Metric', 'Goal']]

print(f"Total NaNs Before: {total_nans_before}, Total NaNs After: {total_nans_after}")
display(nan_details)

#These UNITIDS 214713,498571 will be dropped as they did not report (Pennsylvania State University-Penn State Harri,Pennsylvania Western University	)-> only for 2022 aactually just fill zero 
#interpolated_results = interpolated_results.dropna(subset=['Metric'])

#meant to drop these but since they report for other goals then it made a mess so i just filled these with zero so we dont get nans but here are the display nans 
interpolated_results['Metric'] = interpolated_results['Metric'].fillna(0)

Total NaNs Before: 292, Total NaNs After: 36

,unitid,Year,KPI_Description,Metric,Goal
268345,214713,2015,Increase total research expenditures to reach ...,NaN,4
268346,214713,2016,Increase total research expenditures to reach ...,NaN,4
268347,214713,2017,Increase total research expenditures to reach ...,NaN,4
268348,214713,2018,Increase total research expenditures to reach ...,NaN,4
268349,214713,2019,Increase total research expenditures to reach ...,NaN,4
268350,214713,2020,Increase total research expenditures to reach ...,NaN,4
268351,214713,2021,Increase total research expenditures to reach ...,NaN,4
268352,214713,2022,Increase total research expenditures to reach ...,NaN,4
268362,214713,2013,sponsored research,NaN,4
268361,214713,2014,sponsored research,NaN,4
268360,214713,2015,sponsored research,NaN,4
268359,214713,2016,sponsored research,NaN,4
268358,214713,2017,sponsored research,NaN,4
268357,214713,2018,sponsored research,NaN,4
268356,214713,2019,sponsored research,NaN,4
268355,214713,2020,sponsored research,NaN,4
268354,214713,2021,sponsored research,NaN,4
268353,214713,2022,sponsored research,NaN,4
268372,214713,2013,Percentage of expenditures related to teaching...,NaN,5
268371,214713,2014,Percentage of expenditures related to teaching...,NaN,5
268370,214713,2015,Percentage of expenditures related to teaching...,NaN,5
268369,214713,2016,Percentage of expenditures related to teaching...,NaN,5
268368,214713,2017,Percentage of expenditures related to teaching...,NaN,5
268367,214713,2018,Percentage of expenditures related to teaching...,NaN,5
268366,214713,2019,Percentage of expenditures related to teaching...,NaN,5
268365,214713,2020,Percentage of expenditures related to teaching...,NaN,5
268364,214713,2021,Percentage of expenditures related to teaching...,NaN,5
268363,214713,2022,Percentage of expenditures related to teaching...,NaN,5
460223,498571,2015,Increase total research expenditures to reach ...,NaN,4
460224,498571,2016,Increase total research expenditures to reach ...,NaN,4
460225,498571,2017,Increase total research expenditures to reach ...,NaN,4
460226,498571,2018,Increase total research expenditures to reach ...,NaN,4
460227,498571,2019,Increase total research expenditures to reach ...,NaN,4
460228,498571,2020,Increase total research expenditures to reach ...,NaN,4
460229,498571,2021,Increase total research expenditures to reach ...,NaN,4
460230,498571,2022,Increase total research expenditures to reach ...,NaN,4

In [9]:

#this is where i merge these files notice i use the suffix route so we can track the interpolated values though i do drop later but we dont have to 
master_table.reset_index(inplace=True)
interpolated_results.reset_index(inplace=True)

updated_master_table = master_table.merge(interpolated_results, on=['unitid', 'Year', 'KPI_Description'], how='left', suffixes=('', '_interpolated'))


display(updated_master_table)
#update the table with the values interpolated from the metric column I couldnt get the .update to work here but it simulates that
updated_master_table['Metric'] = updated_master_table['Metric'].combine_first(updated_master_table['Metric_interpolated'])

updated_master_table.drop(columns=['Metric_interpolated','index_interpolated'], inplace=True)

total_nans_after_update = updated_master_table['Metric'].isna().sum()
display(total_nans_after_update)
display(updated_master_table)
display(total_nans_after_update)

,index,unitid,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,...,KPI_Description,Objective,Goal,KPI_Target,ASSOC1,index_interpolated,Metric_interpolated,Goal_interpolated,NaNs_Before,NaNs_After
0,2993,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,...,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0,2993,0.137251,1,0,0
1,2994,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,...,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0,2994,0.154403,1,0,0
2,2995,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,...,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0,2995,0.161399,1,0,0
3,2996,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,...,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0,2996,0.141004,1,0,0
4,2997,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,...,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0,2997,0.136573,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17113,460246,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,...,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0,460246,0.509566,5,9,0
17114,460247,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,...,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0,460247,0.509566,5,9,0
17115,460248,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,...,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0,460248,0.509566,5,9,0
17116,460249,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,...,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0,460249,0.509566,5,9,0
17117,460250,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,...,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0,460250,0.509566,5,9,0

0

,index,unitid,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,...,Year,Metric,KPI_Description,Objective,Goal,KPI_Target,ASSOC1,Goal_interpolated,NaNs_Before,NaNs_After
0,2993,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,...,2022,0.137251,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0,1,0,0
1,2994,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,...,2021,0.154403,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0,1,0,0
2,2995,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,...,2020,0.161399,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0,1,0,0
3,2996,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,...,2019,0.141004,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0,1,0,0
4,2997,101480,Jacksonville State University,,700 Pelham Road North,Jacksonville,AL,36265,1,5,...,2018,0.136573,Percentage of all students enrolled in graduat...,I.B.II,1,0.20,1.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17113,460246,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,...,2017,0.509566,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0,5,9,0
17114,460247,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,...,2016,0.509566,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0,5,9,0
17115,460248,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,...,2015,0.509566,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0,5,9,0
17116,460249,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,...,2014,0.509566,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0,5,9,0
17117,460250,498571,Pennsylvania Western University,PennWest University,250 University Avenue,California,PA,15419,42,2,...,2013,0.509566,Percentage of expenditures related to teaching...,V.B.I,5,0.55,1.0,5,9,0

0

In [10]:
#double check nans dont exist in the set any more
pd.set_option('display.max_rows', None)  
pd.set_option('display.max_columns', None) 
nan_summary = updated_master_table.isna().sum()

print("Summary of NaN values in updated_master_table:")
print(nan_summary)
total_rows = len(updated_master_table)

nan_percentage = (updated_master_table.isna().sum() / total_rows) * 100

print("Summary of NaN values (count and percentage) in updated_master_table:")
print(pd.DataFrame({'NaN Count': nan_summary, 'Percentage (%)': nan_percentage}))

Summary of NaN values in updated_master_table:
index                0
unitid               0
INSTNM               0
IALIAS               0
ADDR                 0
CITY                 0
STABBR               0
ZIP                  0
FIPS                 0
OBEREG               0
CHFNM                0
CHFTITLE             0
GENTELE              0
EIN                  0
UEIS                 0
OPEID                0
OPEFLAG              0
WEBADDR              0
ADMINURL             0
FAIDURL              0
APPLURL              0
NPRICURL             0
VETURL               0
ATHURL               0
DISAURL              0
SECTOR               0
ICLEVEL              0
CONTROL              0
HLOFFER              0
UGOFFER              0
GROFFER              0
HDEGOFR1             0
DEGGRANT             0
HBCU                 0
HOSPITAL             0
MEDICAL              0
TRIBAL               0
LOCALE               0
OPENPUBL             0
ACT                  0
NEWID                0
DEATHYR              0
CLOSEDAT             0
CYACTIVE             0
POSTSEC              0
PSEFLAG              0
PSET4FLG             0
RPTMTH               0
INSTCAT              0
C21BASIC             0
C21IPUG              0
C21IPGRD             0
C21UGPRF             0
C21ENPRF             0
C21SZSET             0
C18BASIC             0
C15BASIC             0
CCBASIC              0
CARNEGIE             0
LANDGRNT             0
INSTSIZE             0
F1SYSTYP             0
F1SYSNAM             0
F1SYSCOD             0
CBSA                 0
CBSATYPE             0
CSA                  0
COUNTYCD             0
COUNTYNM             0
CNGDSTCD             0
LONGITUD             0
LATITUDE             0
DFRCGID              0
DFRCUSCG             0
Year                 0
Metric               0
KPI_Description      0
Objective            0
Goal                 0
KPI_Target           0
ASSOC1               0
Goal_interpolated    0
NaNs_Before          0
NaNs_After           0
dtype: int64
Summary of NaN values (count and percentage) in updated_master_table:
                   NaN Count  Percentage (%)
index                      0             0.0
unitid                     0             0.0
INSTNM                     0             0.0
IALIAS                     0             0.0
ADDR                       0             0.0
CITY                       0             0.0
STABBR                     0             0.0
ZIP                        0             0.0
FIPS                       0             0.0
OBEREG                     0             0.0
CHFNM                      0             0.0
CHFTITLE                   0             0.0
GENTELE                    0             0.0
EIN                        0             0.0
UEIS                       0             0.0
OPEID                      0             0.0
OPEFLAG                    0             0.0
WEBADDR                    0             0.0
ADMINURL                   0             0.0
FAIDURL                    0             0.0
APPLURL                    0             0.0
NPRICURL                   0             0.0
VETURL                     0             0.0
ATHURL                     0             0.0
DISAURL                    0             0.0
SECTOR                     0             0.0
ICLEVEL                    0             0.0
CONTROL                    0             0.0
HLOFFER                    0             0.0
UGOFFER                    0             0.0
GROFFER                    0             0.0
HDEGOFR1                   0             0.0
DEGGRANT                   0             0.0
HBCU                       0             0.0
HOSPITAL                   0             0.0
MEDICAL                    0             0.0
TRIBAL                     0             0.0
LOCALE                     0             0.0
OPENPUBL                   0             0.0
ACT                        0             0.0
NEWID                      0             0.0
DEATHYR                    0             0.0
CLOSEDAT                   0             0.0
CYACTIVE                   0             0.0
POSTSEC                    0             0.0
PSEFLAG                    0             0.0
PSET4FLG                   0             0.0
RPTMTH                     0             0.0
INSTCAT                    0             0.0
C21BASIC                   0             0.0
C21IPUG                    0             0.0
C21IPGRD                   0             0.0
C21UGPRF                   0             0.0
C21ENPRF                   0             0.0
C21SZSET                   0             0.0
C18BASIC                   0             0.0
C15BASIC                   0             0.0
CCBASIC                    0             0.0
CARNEGIE                   0             0.0
LANDGRNT                   0             0.0
INSTSIZE                   0             0.0
F1SYSTYP                   0             0.0
F1SYSNAM                   0             0.0
F1SYSCOD                   0             0.0
CBSA                       0             0.0
CBSATYPE                   0             0.0
CSA                        0             0.0
COUNTYCD                   0             0.0
COUNTYNM                   0             0.0
CNGDSTCD                   0             0.0
LONGITUD                   0             0.0
LATITUDE                   0             0.0
DFRCGID                    0             0.0
DFRCUSCG                   0             0.0
Year                       0             0.0
Metric                     0             0.0
KPI_Description            0             0.0
Objective                  0             0.0
Goal                       0             0.0
KPI_Target                 0             0.0
ASSOC1                     0             0.0
Goal_interpolated          0             0.0
NaNs_Before                0             0.0
NaNs_After                 0             0.0

In [11]:
#save final version of this table
updated_master_table.to_pickle('/kaggle/working/master_table4.pkl')

In [12]:
#this is the pca calulation before ref from tarleton 

# from sklearn.decomposition import PCA
# from sklearn.preprocessing import RobustScaler
# import pandas as pd

# weights = {
#     '1': 3,
#     '2': 4,
#     '3': 2,
#     '4': 4,
#     '5': 1,
# }

# total_weight = sum(weights.values())
# weights = {k: v / total_weight for k, v in weights.items()}

# grouped = updated_master_table.groupby(['unitid', 'KPI_Description']).agg({
#     'Metric': 'mean',
#     'KPI_Target': 'mean',
#     'Goal': 'first',  
#     'INSTNM': 'first' 
# }).reset_index()

# grouped['Deviation'] = grouped['Metric'] - grouped['KPI_Target']

# grouped['Normalized_Weight'] = grouped['Goal'].astype(str).map(weights)

# #grouped['Normalized_Weight'] = grouped['Normalized_Weight'].fillna(1.0)

# grouped['Weighted_Deviation'] = grouped['Deviation'] * grouped['Normalized_Weight']

# scaler = RobustScaler()

# pca_results = []

# for kpi in grouped['KPI_Description'].unique():
#     kpi_data = grouped[grouped['KPI_Description'] == kpi][['unitid', 'Weighted_Deviation']].set_index('unitid')
    
#     standardized_data = scaler.fit_transform(kpi_data)
    
#     pca = PCA(n_components=1)
#     pca_result = pca.fit_transform(standardized_data)
    
#     pca_df = grouped[grouped['KPI_Description'] == kpi].copy()
#     pca_df['PCA_Value'] = pca_result.flatten()
#     pca_results.append(pca_df)

# pca_combined = pd.concat(pca_results)

# top_5_results = (
#     pca_combined.groupby('KPI_Description')
#     .apply(lambda x: x.nsmallest(5, 'PCA_Value'))
#     .reset_index(drop=True)
# )

# top_5_results = top_5_results[['unitid', 'INSTNM', 'Goal', 'PCA_Value', 'KPI_Description']]
# top_5_results

In [13]:
#final PCA calulation This one is a using the KPI Target get devation normilize the weights to that devation  then subtract the reference 'tarleton' to ranlk
from sklearn.decomposition import PCA
from sklearn.preprocessing import RobustScaler
import pandas as pd

weights = {
    '1': 3,
    '2': 4,
    '3': 2,
    '4': 4,
    '5': 1,
}
#norm the weights
total_weight = sum(weights.values())
weights = {k: v / total_weight for k, v in weights.items()}
#note that i mean by KPI and not goal or objective bc some of these are mixed with percentages and it wouldnt make sense to do it as an avg by obj or goal
grouped = updated_master_table.groupby(['unitid', 'KPI_Description']).agg({
    'Metric': 'mean',
    'KPI_Target': 'mean',
    'Goal': 'first', #this just makes sure that its included in the final table
    'INSTNM': 'first'  
}).reset_index()

#how far is the the school from the target
grouped['Deviation'] = grouped['Metric'] - grouped['KPI_Target']
#display(grouped.head())
#apply weights to that
grouped['Normalized_Weight'] = grouped['Goal'].astype(str).map(weights)

grouped['Weighted_Deviation'] = grouped['Deviation'] * grouped['Normalized_Weight']
#display(grouped.head())

scaler = RobustScaler()

pca_results = []
#preform pca per each KPI_Description
for kpi in grouped['KPI_Description'].unique():
    kpi_data = grouped[grouped['KPI_Description'] == kpi][['unitid', 'Weighted_Deviation']].set_index('unitid')
    
    standardized_data = scaler.fit_transform(kpi_data)
    
    pca = PCA(n_components=1)
    pca_result = pca.fit_transform(standardized_data)
    
    pca_df = grouped[grouped['KPI_Description'] == kpi].copy()
    pca_df['PCA_Value'] = pca_result.flatten()
    pca_results.append(pca_df)

pca_combined = pd.concat(pca_results, ignore_index=True)

reference_unitid = '228529'

#make sure that it exist
if reference_unitid not in pca_combined['unitid'].unique():
    raise ValueError(f"Reference unitid {reference_unitid} not found in the PCA results.")

comparison_results = []
#gouping values and grabbing P and A per KPI_
for (kpi_desc, goal), group_df in pca_combined.groupby(['KPI_Description', 'Goal']):
    ref_df = group_df[group_df['unitid'] == reference_unitid]
    if ref_df.empty:
        continue
    
    ref_pca_value = ref_df['PCA_Value'].iloc[0]
    
    group_df = group_df.copy()
    group_df['Difference'] = group_df['PCA_Value'] - ref_pca_value
    
    comp_df = group_df[group_df['unitid'] != reference_unitid].copy()
    
    positive_diff = comp_df[comp_df['Difference'] > 0].sort_values('Difference', ascending=True)
    negative_diff = comp_df[comp_df['Difference'] < 0].sort_values('Difference', ascending=False)

    top_5_aspirants = positive_diff.head(5).copy()
    top_5_aspirants['Type'] = 'Aspirant'
    
    top_5_peers = negative_diff.head(5).copy()
    top_5_peers['Type'] = 'Peer'
    
    combined_results = pd.concat([top_5_aspirants, top_5_peers], ignore_index=True)
    combined_results['Reference_unitid'] = reference_unitid
    combined_results['Reference_PCA_Value'] = ref_pca_value
    combined_results['KPI_Description'] = kpi_desc
    combined_results['Goal'] = goal
    
    comparison_results.append(combined_results)

final_comparison_df = pd.concat(comparison_results, ignore_index=True)
#since i had no values in the tables for this number i just left as zero in the KPI_taget so these schools are stil P and A the KPI_target is at zero 
#final_comparison_df = final_comparison_df[final_comparison_df['KPI_Description'] != 'sponsored research']

final_comparison_df = final_comparison_df[['unitid', 'INSTNM', 'Goal', 'PCA_Value', 'Type', 'Difference', 'KPI_Description','Goal']]

final_comparison_df

,unitid,INSTNM,Goal,PCA_Value,Type,Difference,KPI_Description,Goal
0,217420,Rhode Island College,4,-0.259899,Aspirant,0.003438,sponsored research,4
1,185590,Montclair State University,4,-0.149542,Aspirant,0.113795,sponsored research,4
2,219471,University of South Dakota,4,-0.143276,Aspirant,0.120061,sponsored research,4
3,204024,Miami University-Oxford,4,-0.120703,Aspirant,0.142634,sponsored research,4
4,237525,Marshall University,4,-0.109434,Aspirant,0.153903,sponsored research,4
5,138354,University of West Florida,4,-0.268434,Peer,-0.005098,sponsored research,4
6,171571,Oakland University,4,-0.296772,Peer,-0.033435,sponsored research,4
7,220075,East Tennessee State University,4,-0.349866,Peer,-0.086529,sponsored research,4
8,163338,University of Maryland Eastern Shore,4,-0.369109,Peer,-0.105772,sponsored research,4
9,150136,Ball State University,4,-0.419746,Peer,-0.156409,sponsored research,4
10,228431,Stephen F Austin State University,1,0.134877,Aspirant,0.005177,FTIC headcount/enrollment,1
11,240189,University of Wisconsin-Whitewater,1,0.151077,Aspirant,0.021377,FTIC headcount/enrollment,1
12,240329,University of Wisconsin-La Crosse,1,0.159513,Aspirant,0.029813,FTIC headcount/enrollment,1
13,161253,University of Maine,1,0.176001,Aspirant,0.046301,FTIC headcount/enrollment,1
14,147703,Northern Illinois University,1,0.190093,Aspirant,0.060393,FTIC headcount/enrollment,1
15,188030,New Mexico State University-Main Campus,1,0.089151,Peer,-0.040549,FTIC headcount/enrollment,1
16,141334,University of West Georgia,1,0.074580,Peer,-0.055120,FTIC headcount/enrollment,1
17,498571,Pennsylvania Western University,1,0.064610,Peer,-0.065090,FTIC headcount/enrollment,1
18,157447,Northern Kentucky University,1,0.042371,Peer,-0.087330,FTIC headcount/enrollment,1
19,106704,University of Central Arkansas,1,-0.013037,Peer,-0.142737,FTIC headcount/enrollment,1
20,217420,Rhode Island College,4,-0.252242,Aspirant,0.035661,Increase total research expenditures to reach ...,4
21,138354,University of West Florida,4,-0.177098,Aspirant,0.110806,Increase total research expenditures to reach ...,4
22,219471,University of South Dakota,4,-0.153115,Aspirant,0.134788,Increase total research expenditures to reach ...,4
23,185590,Montclair State University,4,-0.151545,Aspirant,0.136358,Increase total research expenditures to reach ...,4
24,204024,Miami University-Oxford,4,-0.133326,Aspirant,0.154577,Increase total research expenditures to reach ...,4
25,171571,Oakland University,4,-0.307410,Peer,-0.019506,Increase total research expenditures to reach ...,4
26,220075,East Tennessee State University,4,-0.366162,Peer,-0.078259,Increase total research expenditures to reach ...,4
27,163338,University of Maryland Eastern Shore,4,-0.386155,Peer,-0.098252,Increase total research expenditures to reach ...,4
28,150136,Ball State University,4,-0.409566,Peer,-0.121663,Increase total research expenditures to reach ...,4
29,141565,University of Hawaii at Hilo,4,-0.433841,Peer,-0.145938,Increase total research expenditures to reach ...,4
30,229814,West Texas A & M University,3,1.002894,Aspirant,0.018970,Latino student enrollment,3
31,147703,Northern Illinois University,3,1.173876,Aspirant,0.189952,Latino student enrollment,3
32,187444,William Paterson University of New Jersey,3,1.435897,Aspirant,0.451972,Latino student enrollment,3
33,433660,Florida Gulf Coast University,3,1.592143,Aspirant,0.608219,Latino student enrollment,3
34,222831,Angelo State University,3,1.594006,Aspirant,0.610082,Latino student enrollment,3
35,224554,Texas A & M University-Commerce,3,0.755017,Peer,-0.228908,Latino student enrollment,3
36,490805,Purdue University Northwest,3,0.641621,Peer,-0.342303,Latino student enrollment,3
37,228431,Stephen F Austin State University,3,0.600972,Peer,-0.382953,Latino student enrollment,3
38,235097,Eastern Washington University,3,0.523568,Peer,-0.460356,Latino student enrollment,3
39,145813,Illinois State University,3,0.431683,Peer,-0.552241,Latino student enrollment,3
40,175616,Delta State University,2,-0.623738,Aspirant,0.022238,Number of research doctoral programs,2
41,200004,Western Carolina University,2,-0.623738,Aspirant,0.022238,Number of research doctoral programs,2
42,218724,Coastal Carolina University,2,-0.612619,Aspirant,0.033356,Number of research doctoral programs,2
43,183080,Plymouth State University,2,-0.612619,Aspirant,0.033356,Number of research doctoral programs,2
44,169910,Ferris State University,2,-0.601500,Aspirant,0.044475,Number of research doctoral programs,2
45,216764,West Chester University of Pennsylvania,2,-0.657094,Peer,-0.011119,Number of research doctoral programs,2
46,138354,University of West Florida,2,-0.657094,Peer,-0.011119,Number of research doctoral programs,2
47,157447,Northern Kentucky University,2,-0.657094,Peer,-0.011119,Number of research doctoral programs,2
48,155025,Emporia State University,2,-0.668213,Peer,-0.022238,Number of research doctoral programs,2
49,433660,Florida Gulf Coast University,2,-0.668213,Peer,-0.022238,Number of research doctoral programs,2
50,237011,Western Washington University,2,-0.234617,Aspirant,0.024717,Number of research masters programs,2
51,106704,University of Central Arkansas,2,-0.214020,Aspirant,0.045314,Number of research masters programs,2
52,185262,Kean University,2,-0.209900,Aspirant,0.049434,Number of research masters programs,2
53,170082,Grand Valley State University,2,-0.205781,Aspirant,0.053553,Number of research masters programs,2
54,235097,Eastern Washington University,2,-0.090436,Aspirant,0.168898,Number of research masters programs,2
55,159647,Louisiana Tech University,2,-0.271692,Peer,-0.012358,Number of research masters programs,2
56,200004,Western Carolina University,2,-0.292289,Peer,-0.032956,Number of research masters programs,2
57,138354,University of West Florida,2,-0.300528,Peer,-0.041195,Number of research masters programs,2
58,178420,University of Missouri-St Louis,2,-0.308767,Peer,-0.049434,Number of research masters programs,2
59,126775,Colorado School of Mines,2,-0.325245,Peer,-0.065911,Number of research masters programs,2
60,173920,Minnesota State University-Mankato,1,0.153417,Aspirant,0.029171,Number of students awarded credentials who are...,1
61,174783,Saint Cloud State University,1,0.158593,Aspirant,0.034347,Number of students awarded credentials who are...,1
62,240727,University of Wyoming,1,0.221758,Aspirant,0.097512,Number of students awarded credentials who are...,1
63,498571,Pennsylvania Western University,1,0.232933,Aspirant,0.108687,Number of students awarded credentials who are...,1
64,187444,William Paterson University of New Jersey,1,0.239520,Aspirant,0.115274,Number of students awarded credentials who are...,1
65,110495,California State University-Stanislaus,1,0.112718,Peer,-0.011527,Number of students awarded credentials who are...,1
66,207263,Northeastern State University,1,0.096486,Peer,-0.027760,Number of students awarded credentials who are...,1
67,229814,West Texas A & M University,1,0.094486,Peer,-0.029759,Number of students awarded credentials who are...,1
68,228459,Texas State University,1,0.089546,Peer,-0.034700,Number of students awarded credentials who are...,1
69,161554,University of Southern Maine,1,0.088135,Peer,-0.036111,Number of students awarded credentials who are...,1
70,141334,University of West Georgia,1,-0.027015,Aspirant,0.022734,Overall enrollment - Unduplicated headcount,1
71,366711,California State University-San Marcos,1,-0.012354,Aspirant,0.037395,Overall enrollment - Unduplicated headcount,1
72,169910,Ferris State University,1,-0.010930,Aspirant,0.038820,Overall enrollment - Unduplicated headcount,1
73,142276,Idaho State University,1,-0.005576,Aspirant,0.044174,Overall enrollment - Unduplicated headcount,1
74,231174,University of Vermont,1,-0.002999,Aspirant,0.046750,Overall enrollment - Unduplicated headcount,1
75,224554,Texas A & M University-Commerce,1,-0.067141,Peer,-0.017392,Overall enrollment - Unduplicated headcount,1
76,151324,Indiana State University,1,-0.099847,Peer,-0.050098,Overall enrollment - Unduplicated headcount,1
77,219356,South Dakota State University,1,-0.116633,Peer,-0.066884,Overall enrollment - Unduplicated headcount,1
78,206695,Youngstown State University,1,-0.142038,Peer,-0.092289,Overall enrollment - Unduplicated headcount,1
79,490805,Purdue University Northwest,1,-0.147713,Peer,-0.097963,Overall enrollment - Unduplicated headcount,1
80,200004,Western Carolina University,1,-0.382648,Aspirant,0.006474,Percentage of all students enrolled in graduat...,1
81,217420,Rhode Island College,1,-0.312423,Aspirant,0.076700,Percentage of all students enrolled in graduat...,1
82,162584,Frostburg State University,1,-0.301692,Aspirant,0.087430,Percentage of all students enrolled in graduat...,1
83,151306,University of Southern Indiana,1,-0.294502,Aspirant,0.094620,Percentage of all students enrolled in graduat...,1
84,162007,Bowie State University,1,-0.274100,Aspirant,0.115022,Percentage of all students enrolled in graduat...,1
85,154095,University of Northern Iowa,1,-0.390179,Peer,-0.001057,Percentage of all students enrolled in graduat...,1
86,105330,Northern Arizona University,1,-0.396419,Peer,-0.007297,Percentage of all students enrolled in graduat...,1
87,174783,Saint Cloud State University,1,-0.417182,Peer,-0.028059,Percentage of all students enrolled in graduat...,1
88,216010,Shippensburg University of Pennsylvania,1,-0.421238,Peer,-0.032116,Percentage of all students enrolled in graduat...,1
89,164076,Towson University,1,-0.423162,Peer,-0.034039,Percentage of all students enrolled in graduat...,1
90,207865,Southwestern Oklahoma State University,3,-0.137401,Aspirant,0.031312,Percentage of enrolled students from historica...,3
91,184782,Rowan University,3,-0.116548,Aspirant,0.052165,Percentage of enrolled students from historica...,3
92,138354,University of West Florida,3,-0.092758,Aspirant,0.075955,Percentage of enrolled students from historica...,3
93,155025,Emporia State University,3,-0.087885,Aspirant,0.080828,Percentage of enrolled students from historica...,3
94,433660,Florida Gulf Coast University,3,-0.057462,Aspirant,0.111251,Percentage of enrolled students from historica...,3
95,198464,East Carolina University,3,-0.199272,Peer,-0.030559,Percentage of enrolled students from historica...,3
96,186876,Stockton University,3,-0.231903,Peer,-0.063190,Percentage of enrolled students from historica...,3
97,101480,Jacksonville State University,3,-0.232716,Peer,-0.064003,Percentage of enrolled students from historica...,3
98,151324,Indiana State University,3,-0.265159,Peer,-0.096446,Percentage of enrolled students from historica...,3
99,106704,University of Central Arkansas,3,-0.282232,Peer,-0.113518,Percentage of enrolled students from historica...,3
100,183080,Plymouth State University,5,0.458983,Aspirant,0.001337,Percentage of expenditures related to teaching...,5
101,232423,James Madison University,5,0.500577,Aspirant,0.042931,Percentage of expenditures related to teaching...,5
102,110565,California State University-Fullerton,5,0.524134,Aspirant,0.066488,Percentage of expenditures related to teaching...,5
103,151306,University of Southern Indiana,5,0.537702,Aspirant,0.080056,Percentage of expenditures related to teaching...,5
104,160038,Northwestern State University of Louisiana,5,0.551989,Aspirant,0.094343,Percentage of expenditures related to teaching...,5
105,198464,East Carolina University,5,0.454162,Peer,-0.003484,Percentage of expenditures related to teaching...,5
106,151324,Indiana State University,5,0.453194,Peer,-0.004452,Percentage of expenditures related to teaching...,5
107,240189,University of Wisconsin-Whitewater,5,0.418116,Peer,-0.039531,Percentage of expenditures related to teaching...,5
108,214041,Millersville University of Pennsylvania,5,0.414799,Peer,-0.042847,Percentage of expenditures related to teaching...,5
109,149222,Southern Illinois University-Carbondale,5,0.411182,Peer,-0.046464,Percentage of expenditures related to teaching...,5
110,159993,University of Louisiana at Monroe,1,-0.412528,Aspirant,0.000643,Six-year graduation rate for FTICs,1
111,169910,Ferris State University,1,-0.409314,Aspirant,0.003857,Six-year graduation rate for FTICs,1
112,217420,Rhode Island College,1,-0.408029,Aspirant,0.005142,Six-year graduation rate for FTICs,1
113,220075,East Tennessee State University,1,-0.405457,Aspirant,0.007713,Six-year graduation rate for FTICs,1
114,180489,The University of Montana,1,-0.404172,Aspirant,0.008999,Six-year graduation rate for FTICs,1
115,174783,Saint Cloud State University,1,-0.437596,Peer,-0.024426,Six-year graduation rate for FTICs,1
116,218724,Coastal Carolina University,1,-0.437596,Peer,-0.024426,Six-year graduation rate for FTICs,1
117,155025,Emporia State University,1,-0.445310,Peer,-0.032139,Six-year graduation rate for FTICs,1
118,151306,University of Southern Indiana,1,-0.455594,Peer,-0.042423,Six-year graduation rate for FTICs,1
119,110574,California State University-East Bay,1,-0.456237,Peer,-0.043066,Six-year graduation rate for FTICs,1
120,149222,Southern Illinois University-Carbondale,1,0.646147,Aspirant,0.026021,Transfer headcount/enrollment,1
121,185262,Kean University,1,0.671095,Aspirant,0.050969,Transfer headcount/enrollment,1
122,185590,Montclair State University,1,0.673107,Aspirant,0.052981,Transfer headcount/enrollment,1
123,172699,Western Michigan University,1,0.692287,Aspirant,0.072161,Transfer headcount/enrollment,1
124,197869,Appalachian State University,1,0.728771,Aspirant,0.108645,Transfer headcount/enrollment,1
125,166513,University of Massachusetts-Lowell,1,0.545953,Peer,-0.074173,Transfer headcount/enrollment,1
126,169798,Eastern Michigan University,1,0.543270,Peer,-0.076856,Transfer headcount/enrollment,1
127,204857,Ohio University-Main Campus,1,0.536966,Peer,-0.083160,Transfer headcount/enrollment,1
128,178420,University of Missouri-St Louis,1,0.524492,Peer,-0.095634,Transfer headcount/enrollment,1
129,169910,Ferris State University,1,0.508128,Peer,-0.111998,Transfer headcount/enrollment,1

In [14]:
#same code but this is another version of this effectly answering how do schools measure to the reference unitid and not a target_kpi but comparivly speaking since i assume there isnt any change to the variance pattern after standardizing the data it gives the same value for tarleton


from sklearn.decomposition import PCA
from sklearn.preprocessing import RobustScaler
import pandas as pd

weights = {
    '1': 3,
    '2': 4,
    '3': 2,
    '4': 4,
    '5': 1,
}

total_weight = sum(weights.values())
weights = {k: v / total_weight for k, v in weights.items()}

reference_unitid = '228529'

grouped = updated_master_table.groupby(['unitid', 'KPI_Description']).agg({
    'Metric': 'mean',
    'Goal': 'first',
    'INSTNM': 'first',
    'Objective': 'first'  
}).reset_index()

grouped['Normalized_Weight'] = grouped['Goal'].astype(str).map(weights)
display(grouped.head())
pca_results = []

scaler = RobustScaler()

comparison_results = []

for (kpi_desc, goal), group_df in grouped.groupby(['KPI_Description', 'Goal']):
    ref_row = group_df[group_df['unitid'] == reference_unitid]
    if ref_row.empty:
        continue
    
    reference_metric = ref_row['Metric'].iloc[0]

    group_df['Difference'] = group_df['Metric'] - reference_metric

    group_df['Weighted_Difference'] = group_df['Difference'] * group_df['Normalized_Weight']

    kpi_data = group_df[['unitid', 'Weighted_Difference']].set_index('unitid')
    standardized_data = scaler.fit_transform(kpi_data)

    pca = PCA(n_components=1)
    pca_result = pca.fit_transform(standardized_data)

    group_df['PCA_Value'] = pca_result.flatten()
    group_df['Reference_unitid'] = reference_unitid
    group_df['Reference_Metric'] = reference_metric
    group_df['KPI_Description'] = kpi_desc
    group_df['Goal'] = goal

    comp_df = group_df[group_df['unitid'] != reference_unitid].copy()

    ref_pca_value = group_df.loc[group_df['unitid'] == reference_unitid, 'PCA_Value'].iloc[0]
    comp_df['Difference_from_Ref_PCA'] = comp_df['PCA_Value'] - ref_pca_value

    positive_diff = comp_df[comp_df['Difference_from_Ref_PCA'] > 0].sort_values('Difference_from_Ref_PCA', ascending=True)
    negative_diff = comp_df[comp_df['Difference_from_Ref_PCA'] < 0].sort_values('Difference_from_Ref_PCA', ascending=False)

    top_5_aspirants = positive_diff.head(5).copy()
    top_5_aspirants['Type'] = 'Aspirant'

    top_5_peers = negative_diff.head(5).copy()
    top_5_peers['Type'] = 'Peer'

    final_group = pd.concat([top_5_aspirants, top_5_peers], ignore_index=True)
    final_group['Reference_PCA_Value'] = ref_pca_value
    final_group['Adjusted_PCA_Value'] = final_group['PCA_Value'] - ref_pca_value

    comparison_results.append(final_group)

final_comparison_df = pd.concat(comparison_results, ignore_index=True)

#final_comparison_df = final_comparison_df[final_comparison_df['KPI_Description'] != 'sponsored research']

final_comparison_df = final_comparison_df[
    ['unitid', 'INSTNM', 'Goal', 'Objective', 'Metric', 'PCA_Value', 
     'Reference_unitid', 'Reference_Metric', 'Reference_PCA_Value', 'Adjusted_PCA_Value', 
      'Type', 'KPI_Description']
]

display(final_comparison_df)

,unitid,KPI_Description,Metric,Goal,INSTNM,Objective,Normalized_Weight
0,101480,sponsored research,2.110250e+06,4,Jacksonville State University,IV.A.III,0.285714
1,101480,FTIC headcount/enrollment,1.349700e+03,1,Jacksonville State University,I.B.I,0.214286
2,101480,Increase total research expenditures to reach ...,2.509282e+06,4,Jacksonville State University,IV.A.I,0.285714
3,101480,Latino student enrollment,1.129000e+02,3,Jacksonville State University,III.A.I,0.142857
4,101480,Number of research doctoral programs,6.666667e-01,2,Jacksonville State University,II.B.I,0.285714

,unitid,INSTNM,Goal,Objective,Metric,PCA_Value,Reference_unitid,Reference_Metric,Reference_PCA_Value,Adjusted_PCA_Value,Type,KPI_Description
0,217420,Rhode Island College,4,IV.A.III,1.398055e+07,-0.259899,228529,1.392408e+07,-0.263337,0.003438,Aspirant,sponsored research
1,185590,Montclair State University,4,IV.A.III,1.579339e+07,-0.149542,228529,1.392408e+07,-0.263337,0.113795,Aspirant,sponsored research
2,219471,University of South Dakota,4,IV.A.III,1.589632e+07,-0.143276,228529,1.392408e+07,-0.263337,0.120061,Aspirant,sponsored research
3,204024,Miami University-Oxford,4,IV.A.III,1.626713e+07,-0.120703,228529,1.392408e+07,-0.263337,0.142634,Aspirant,sponsored research
4,237525,Marshall University,4,IV.A.III,1.645226e+07,-0.109434,228529,1.392408e+07,-0.263337,0.153903,Aspirant,sponsored research
5,138354,University of West Florida,4,IV.A.III,1.384035e+07,-0.268434,228529,1.392408e+07,-0.263337,-0.005098,Peer,sponsored research
6,171571,Oakland University,4,IV.A.III,1.337485e+07,-0.296772,228529,1.392408e+07,-0.263337,-0.033435,Peer,sponsored research
7,220075,East Tennessee State University,4,IV.A.III,1.250267e+07,-0.349866,228529,1.392408e+07,-0.263337,-0.086529,Peer,sponsored research
8,163338,University of Maryland Eastern Shore,4,IV.A.III,1.218657e+07,-0.369109,228529,1.392408e+07,-0.263337,-0.105772,Peer,sponsored research
9,150136,Ball State University,4,IV.A.III,1.135475e+07,-0.419746,228529,1.392408e+07,-0.263337,-0.156409,Peer,sponsored research
10,228431,Stephen F Austin State University,1,I.B.I,2.108300e+03,0.134877,228529,2.102900e+03,0.129700,0.005177,Aspirant,FTIC headcount/enrollment
11,240189,University of Wisconsin-Whitewater,1,I.B.I,2.125200e+03,0.151077,228529,2.102900e+03,0.129700,0.021377,Aspirant,FTIC headcount/enrollment
12,240329,University of Wisconsin-La Crosse,1,I.B.I,2.134000e+03,0.159513,228529,2.102900e+03,0.129700,0.029813,Aspirant,FTIC headcount/enrollment
13,161253,University of Maine,1,I.B.I,2.151200e+03,0.176001,228529,2.102900e+03,0.129700,0.046301,Aspirant,FTIC headcount/enrollment
14,147703,Northern Illinois University,1,I.B.I,2.165900e+03,0.190093,228529,2.102900e+03,0.129700,0.060393,Aspirant,FTIC headcount/enrollment
15,188030,New Mexico State University-Main Campus,1,I.B.I,2.060600e+03,0.089151,228529,2.102900e+03,0.129700,-0.040549,Peer,FTIC headcount/enrollment
16,141334,University of West Georgia,1,I.B.I,2.045400e+03,0.074580,228529,2.102900e+03,0.129700,-0.055120,Peer,FTIC headcount/enrollment
17,498571,Pennsylvania Western University,1,I.B.I,2.035000e+03,0.064610,228529,2.102900e+03,0.129700,-0.065090,Peer,FTIC headcount/enrollment
18,157447,Northern Kentucky University,1,I.B.I,2.011800e+03,0.042371,228529,2.102900e+03,0.129700,-0.087330,Peer,FTIC headcount/enrollment
19,106704,University of Central Arkansas,1,I.B.I,1.954000e+03,-0.013037,228529,2.102900e+03,0.129700,-0.142737,Peer,FTIC headcount/enrollment
20,217420,Rhode Island College,4,IV.A.I,1.397724e+07,-0.252242,228529,1.340456e+07,-0.287903,0.035661,Aspirant,Increase total research expenditures to reach ...
21,138354,University of West Florida,4,IV.A.I,1.518397e+07,-0.177098,228529,1.340456e+07,-0.287903,0.110806,Aspirant,Increase total research expenditures to reach ...
22,219471,University of South Dakota,4,IV.A.I,1.556910e+07,-0.153115,228529,1.340456e+07,-0.287903,0.134788,Aspirant,Increase total research expenditures to reach ...
23,185590,Montclair State University,4,IV.A.I,1.559431e+07,-0.151545,228529,1.340456e+07,-0.287903,0.136358,Aspirant,Increase total research expenditures to reach ...
24,204024,Miami University-Oxford,4,IV.A.I,1.588688e+07,-0.133326,228529,1.340456e+07,-0.287903,0.154577,Aspirant,Increase total research expenditures to reach ...
25,171571,Oakland University,4,IV.A.I,1.309131e+07,-0.307410,228529,1.340456e+07,-0.287903,-0.019506,Peer,Increase total research expenditures to reach ...
26,220075,East Tennessee State University,4,IV.A.I,1.214781e+07,-0.366162,228529,1.340456e+07,-0.287903,-0.078259,Peer,Increase total research expenditures to reach ...
27,163338,University of Maryland Eastern Shore,4,IV.A.I,1.182675e+07,-0.386155,228529,1.340456e+07,-0.287903,-0.098252,Peer,Increase total research expenditures to reach ...
28,150136,Ball State University,4,IV.A.I,1.145080e+07,-0.409566,228529,1.340456e+07,-0.287903,-0.121663,Peer,Increase total research expenditures to reach ...
29,141565,University of Hawaii at Hilo,4,IV.A.I,1.106097e+07,-0.433841,228529,1.340456e+07,-0.287903,-0.145938,Peer,Increase total research expenditures to reach ...
30,229814,West Texas A & M University,3,III.A.I,2.902700e+03,1.002894,228529,2.880300e+03,0.983924,0.018970,Aspirant,Latino student enrollment
31,147703,Northern Illinois University,3,III.A.I,3.104600e+03,1.173876,228529,2.880300e+03,0.983924,0.189952,Aspirant,Latino student enrollment
32,187444,William Paterson University of New Jersey,3,III.A.I,3.414000e+03,1.435897,228529,2.880300e+03,0.983924,0.451972,Aspirant,Latino student enrollment
33,433660,Florida Gulf Coast University,3,III.A.I,3.598500e+03,1.592143,228529,2.880300e+03,0.983924,0.608219,Aspirant,Latino student enrollment
34,222831,Angelo State University,3,III.A.I,3.600700e+03,1.594006,228529,2.880300e+03,0.983924,0.610082,Aspirant,Latino student enrollment
35,224554,Texas A & M University-Commerce,3,III.A.I,2.610000e+03,0.755017,228529,2.880300e+03,0.983924,-0.228908,Peer,Latino student enrollment
36,490805,Purdue University Northwest,3,III.A.I,2.476100e+03,0.641621,228529,2.880300e+03,0.983924,-0.342303,Peer,Latino student enrollment
37,228431,Stephen F Austin State University,3,III.A.I,2.428100e+03,0.600972,228529,2.880300e+03,0.983924,-0.382953,Peer,Latino student enrollment
38,235097,Eastern Washington University,3,III.A.I,2.336700e+03,0.523568,228529,2.880300e+03,0.983924,-0.460356,Peer,Latino student enrollment
39,145813,Illinois State University,3,III.A.I,2.228200e+03,0.431683,228529,2.880300e+03,0.983924,-0.552241,Peer,Latino student enrollment
40,175616,Delta State University,2,II.B.I,1.444444e+00,-0.623738,228529,1.222222e+00,-0.645976,0.022238,Aspirant,Number of research doctoral programs
41,200004,Western Carolina University,2,II.B.I,1.444444e+00,-0.623738,228529,1.222222e+00,-0.645976,0.022238,Aspirant,Number of research doctoral programs
42,218724,Coastal Carolina University,2,II.B.I,1.555556e+00,-0.612619,228529,1.222222e+00,-0.645976,0.033356,Aspirant,Number of research doctoral programs
43,183080,Plymouth State University,2,II.B.I,1.555556e+00,-0.612619,228529,1.222222e+00,-0.645976,0.033356,Aspirant,Number of research doctoral programs
44,169910,Ferris State University,2,II.B.I,1.666667e+00,-0.601500,228529,1.222222e+00,-0.645976,0.044475,Aspirant,Number of research doctoral programs
45,216764,West Chester University of Pennsylvania,2,II.B.I,1.111111e+00,-0.657094,228529,1.222222e+00,-0.645976,-0.011119,Peer,Number of research doctoral programs
46,138354,University of West Florida,2,II.B.I,1.111111e+00,-0.657094,228529,1.222222e+00,-0.645976,-0.011119,Peer,Number of research doctoral programs
47,157447,Northern Kentucky University,2,II.B.I,1.111111e+00,-0.657094,228529,1.222222e+00,-0.645976,-0.011119,Peer,Number of research doctoral programs
48,155025,Emporia State University,2,II.B.I,1.000000e+00,-0.668213,228529,1.222222e+00,-0.645976,-0.022238,Peer,Number of research doctoral programs
49,433660,Florida Gulf Coast University,2,II.B.I,1.000000e+00,-0.668213,228529,1.222222e+00,-0.645976,-0.022238,Peer,Number of research doctoral programs
50,237011,Western Washington University,2,II.B.I,3.222222e+01,-0.234617,228529,3.155556e+01,-0.259334,0.024717,Aspirant,Number of research masters programs
51,106704,University of Central Arkansas,2,II.B.I,3.277778e+01,-0.214020,228529,3.155556e+01,-0.259334,0.045314,Aspirant,Number of research masters programs
52,185262,Kean University,2,II.B.I,3.288889e+01,-0.209900,228529,3.155556e+01,-0.259334,0.049434,Aspirant,Number of research masters programs
53,170082,Grand Valley State University,2,II.B.I,3.300000e+01,-0.205781,228529,3.155556e+01,-0.259334,0.053553,Aspirant,Number of research masters programs
54,235097,Eastern Washington University,2,II.B.I,3.611111e+01,-0.090436,228529,3.155556e+01,-0.259334,0.168898,Aspirant,Number of research masters programs
55,159647,Louisiana Tech University,2,II.B.I,3.122222e+01,-0.271692,228529,3.155556e+01,-0.259334,-0.012358,Peer,Number of research masters programs
56,200004,Western Carolina University,2,II.B.I,3.066667e+01,-0.292289,228529,3.155556e+01,-0.259334,-0.032956,Peer,Number of research masters programs
57,138354,University of West Florida,2,II.B.I,3.044444e+01,-0.300528,228529,3.155556e+01,-0.259334,-0.041195,Peer,Number of research masters programs
58,178420,University of Missouri-St Louis,2,II.B.I,3.022222e+01,-0.308767,228529,3.155556e+01,-0.259334,-0.049434,Peer,Number of research masters programs
59,126775,Colorado School of Mines,2,II.B.I,2.977778e+01,-0.325245,228529,3.155556e+01,-0.259334,-0.065911,Peer,Number of research masters programs
60,173920,Minnesota State University-Mankato,1,I.A.II,1.180636e+03,0.153417,228529,1.158091e+03,0.124246,0.029171,Aspirant,Number of students awarded credentials who are...
61,174783,Saint Cloud State University,1,I.A.II,1.184636e+03,0.158593,228529,1.158091e+03,0.124246,0.034347,Aspirant,Number of students awarded credentials who are...
62,240727,University of Wyoming,1,I.A.II,1.233455e+03,0.221758,228529,1.158091e+03,0.124246,0.097512,Aspirant,Number of students awarded credentials who are...
63,498571,Pennsylvania Western University,1,I.A.II,1.242091e+03,0.232933,228529,1.158091e+03,0.124246,0.108687,Aspirant,Number of students awarded credentials who are...
64,187444,William Paterson University of New Jersey,1,I.A.II,1.247182e+03,0.239520,228529,1.158091e+03,0.124246,0.115274,Aspirant,Number of students awarded credentials who are...
65,110495,California State University-Stanislaus,1,I.A.II,1.149182e+03,0.112718,228529,1.158091e+03,0.124246,-0.011527,Peer,Number of students awarded credentials who are...
66,207263,Northeastern State University,1,I.A.II,1.136636e+03,0.096486,228529,1.158091e+03,0.124246,-0.027760,Peer,Number of students awarded credentials who are...
67,229814,West Texas A & M University,1,I.A.II,1.135091e+03,0.094486,228529,1.158091e+03,0.124246,-0.029759,Peer,Number of students awarded credentials who are...
68,228459,Texas State University,1,I.A.II,1.131273e+03,0.089546,228529,1.158091e+03,0.124246,-0.034700,Peer,Number of students awarded credentials who are...
69,161554,University of Southern Maine,1,I.A.II,1.130182e+03,0.088135,228529,1.158091e+03,0.124246,-0.036111,Peer,Number of students awarded credentials who are...
70,141334,University of West Georgia,1,I.B.I,1.527230e+04,-0.027015,228529,1.508080e+04,-0.049749,0.022734,Aspirant,Overall enrollment - Unduplicated headcount
71,366711,California State University-San Marcos,1,I.B.I,1.539580e+04,-0.012354,228529,1.508080e+04,-0.049749,0.037395,Aspirant,Overall enrollment - Unduplicated headcount
72,169910,Ferris State University,1,I.B.I,1.540780e+04,-0.010930,228529,1.508080e+04,-0.049749,0.038820,Aspirant,Overall enrollment - Unduplicated headcount
73,142276,Idaho State University,1,I.B.I,1.545290e+04,-0.005576,228529,1.508080e+04,-0.049749,0.044174,Aspirant,Overall enrollment - Unduplicated headcount
74,231174,University of Vermont,1,I.B.I,1.547460e+04,-0.002999,228529,1.508080e+04,-0.049749,0.046750,Aspirant,Overall enrollment - Unduplicated headcount
75,224554,Texas A & M University-Commerce,1,I.B.I,1.493430e+04,-0.067141,228529,1.508080e+04,-0.049749,-0.017392,Peer,Overall enrollment - Unduplicated headcount
76,151324,Indiana State University,1,I.B.I,1.465880e+04,-0.099847,228529,1.508080e+04,-0.049749,-0.050098,Peer,Overall enrollment - Unduplicated headcount
77,219356,South Dakota State University,1,I.B.I,1.451740e+04,-0.116633,228529,1.508080e+04,-0.049749,-0.066884,Peer,Overall enrollment - Unduplicated headcount
78,206695,Youngstown State University,1,I.B.I,1.430340e+04,-0.142038,228529,1.508080e+04,-0.049749,-0.092289,Peer,Overall enrollment - Unduplicated headcount
79,490805,Purdue University Northwest,1,I.B.I,1.425560e+04,-0.147713,228529,1.508080e+04,-0.049749,-0.097963,Peer,Overall enrollment - Unduplicated headcount
80,200004,Western Carolina University,1,I.B.II,1.439915e-01,-0.382648,228529,1.434485e-01,-0.389122,0.006474,Aspirant,Percentage of all students enrolled in graduat...
81,217420,Rhode Island College,1,I.B.II,1.498810e-01,-0.312423,228529,1.434485e-01,-0.389122,0.076700,Aspirant,Percentage of all students enrolled in graduat...
82,162584,Frostburg State University,1,I.B.II,1.507810e-01,-0.301692,228529,1.434485e-01,-0.389122,0.087430,Aspirant,Percentage of all students enrolled in graduat...
83,151306,University of Southern Indiana,1,I.B.II,1.513839e-01,-0.294502,228529,1.434485e-01,-0.389122,0.094620,Aspirant,Percentage of all students enrolled in graduat...
84,162007,Bowie State University,1,I.B.II,1.530950e-01,-0.274100,228529,1.434485e-01,-0.389122,0.115022,Aspirant,Percentage of all students enrolled in graduat...
85,154095,University of Northern Iowa,1,I.B.II,1.433599e-01,-0.390179,228529,1.434485e-01,-0.389122,-0.001057,Peer,Percentage of all students enrolled in graduat...
86,105330,Northern Arizona University,1,I.B.II,1.428366e-01,-0.396419,228529,1.434485e-01,-0.389122,-0.007297,Peer,Percentage of all students enrolled in graduat...
87,174783,Saint Cloud State University,1,I.B.II,1.410953e-01,-0.417182,228529,1.434485e-01,-0.389122,-0.028059,Peer,Percentage of all students enrolled in graduat...
88,216010,Shippensburg University of Pennsylvania,1,I.B.II,1.407551e-01,-0.421238,228529,1.434485e-01,-0.389122,-0.032116,Peer,Percentage of all students enrolled in graduat...
89,164076,Towson University,1,I.B.II,1.405938e-01,-0.423162,228529,1.434485e-01,-0.389122,-0.034039,Peer,Percentage of all students enrolled in graduat...
90,207865,Southwestern Oklahoma State University,3,III.B.I,3.482999e-01,-0.137401,228529,3.422455e-01,-0.168713,0.031312,Aspirant,Percentage of enrolled students from historica...
91,184782,Rowan University,3,III.B.I,3.523318e-01,-0.116548,228529,3.422455e-01,-0.168713,0.052165,Aspirant,Percentage of enrolled students from historica...
92,138354,University of West Florida,3,III.B.I,3.569317e-01,-0.092758,228529,3.422455e-01,-0.168713,0.075955,Aspirant,Percentage of enrolled students from historica...
93,155025,Emporia State University,3,III.B.I,3.578739e-01,-0.087885,228529,3.422455e-01,-0.168713,0.080828,Aspirant,Percentage of enrolled students from historica...
94,433660,Florida Gulf Coast University,3,III.B.I,3.637562e-01,-0.057462,228529,3.422455e-01,-0.168713,0.111251,Aspirant,Percentage of enrolled students from historica...
95,198464,East Carolina University,3,III.B.I,3.363369e-01,-0.199272,228529,3.422455e-01,-0.168713,-0.030559,Peer,Percentage of enrolled students from historica...
96,186876,Stockton University,3,III.B.I,3.300276e-01,-0.231903,228529,3.422455e-01,-0.168713,-0.063190,Peer,Percentage of enrolled students from historica...
97,101480,Jacksonville State University,3,III.B.I,3.298704e-01,-0.232716,228529,3.422455e-01,-0.168713,-0.064003,Peer,Percentage of enrolled students from historica...
98,151324,Indiana State University,3,III.B.I,3.235975e-01,-0.265159,228529,3.422455e-01,-0.168713,-0.096446,Peer,Percentage of enrolled students from historica...
99,106704,University of Central Arkansas,3,III.B.I,3.202964e-01,-0.282232,228529,3.422455e-01,-0.168713,-0.113518,Peer,Percentage of enrolled students from historica...
100,183080,Plymouth State University,5,V.B.I,4.167639e-01,0.458983,228529,4.168955e-01,0.457646,0.001337,Aspirant,Percentage of expenditures related to teaching...
101,232423,James Madison University,5,V.B.I,4.126688e-01,0.500577,228529,4.168955e-01,0.457646,0.042931,Aspirant,Percentage of expenditures related to teaching...
102,110565,California State University-Fullerton,5,V.B.I,4.103497e-01,0.524134,228529,4.168955e-01,0.457646,0.066488,Aspirant,Percentage of expenditures related to teaching...
103,151306,University of Southern Indiana,5,V.B.I,4.090138e-01,0.537702,228529,4.168955e-01,0.457646,0.080056,Aspirant,Percentage of expenditures related to teaching...
104,160038,Northwestern State University of Louisiana,5,V.B.I,4.076073e-01,0.551989,228529,4.168955e-01,0.457646,0.094343,Aspirant,Percentage of expenditures related to teaching...
105,198464,East Carolina University,5,V.B.I,4.172385e-01,0.454162,228529,4.168955e-01,0.457646,-0.003484,Peer,Percentage of expenditures related to teaching...
106,151324,Indiana State University,5,V.B.I,4.173338e-01,0.453194,228529,4.168955e-01,0.457646,-0.004452,Peer,Percentage of expenditures related to teaching...
107,240189,University of Wisconsin-Whitewater,5,V.B.I,4.207874e-01,0.418116,228529,4.168955e-01,0.457646,-0.039531,Peer,Percentage of expenditures related to teaching...
108,214041,Millersville University of Pennsylvania,5,V.B.I,4.211139e-01,0.414799,228529,4.168955e-01,0.457646,-0.042847,Peer,Percentage of expenditures related to teaching...
109,149222,Southern Illinois University-Carbondale,5,V.B.I,4.214700e-01,0.411182,228529,4.168955e-01,0.457646,-0.046464,Peer,Percentage of expenditures related to teaching...
110,159993,University of Louisiana at Monroe,1,I.A.I,4.573000e-01,-0.412528,228529,4.572000e-01,-0.413171,0.000643,Aspirant,Six-year graduation rate for FTICs
111,169910,Ferris State University,1,I.A.I,4.578000e-01,-0.409314,228529,4.572000e-01,-0.413171,0.003857,Aspirant,Six-year graduation rate for FTICs
112,217420,Rhode Island College,1,I.A.I,4.580000e-01,-0.408029,228529,4.572000e-01,-0.413171,0.005142,Aspirant,Six-year graduation rate for FTICs
113,220075,East Tennessee State University,1,I.A.I,4.584000e-01,-0.405457,228529,4.572000e-01,-0.413171,0.007713,Aspirant,Six-year graduation rate for FTICs
114,180489,The University of Montana,1,I.A.I,4.586000e-01,-0.404172,228529,4.572000e-01,-0.413171,0.008999,Aspirant,Six-year graduation rate for FTICs
115,174783,Saint Cloud State University,1,I.A.I,4.534000e-01,-0.437596,228529,4.572000e-01,-0.413171,-0.024426,Peer,Six-year graduation rate for FTICs
116,218724,Coastal Carolina University,1,I.A.I,4.534000e-01,-0.437596,228529,4.572000e-01,-0.413171,-0.024426,Peer,Six-year graduation rate for FTICs
117,155025,Emporia State University,1,I.A.I,4.522000e-01,-0.445310,228529,4.572000e-01,-0.413171,-0.032139,Peer,Six-year graduation rate for FTICs
118,151306,University of Southern Indiana,1,I.A.I,4.506000e-01,-0.455594,228529,4.572000e-01,-0.413171,-0.042423,Peer,Six-year graduation rate for FTICs
119,110574,California State University-East Bay,1,I.A.I,4.505000e-01,-0.456237,228529,4.572000e-01,-0.413171,-0.043066,Peer,Six-year graduation rate for FTICs
120,149222,Southern Illinois University-Carbondale,1,I.B.I,1.413400e+03,0.646147,228529,1.394000e+03,0.620126,0.026021,Aspirant,Transfer headcount/enrollment
121,185262,Kean University,1,I.B.I,1.432000e+03,0.671095,228529,1.394000e+03,0.620126,0.050969,Aspirant,Transfer headcount/enrollment
122,185590,Montclair State University,1,I.B.I,1.433500e+03,0.673107,228529,1.394000e+03,0.620126,0.052981,Aspirant,Transfer headcount/enrollment
123,172699,Western Michigan University,1,I.B.I,1.447800e+03,0.692287,228529,1.394000e+03,0.620126,0.072161,Aspirant,Transfer headcount/enrollment
124,197869,Appalachian State University,1,I.B.I,1.475000e+03,0.728771,228529,1.394000e+03,0.620126,0.108645,Aspirant,Transfer headcount/enrollment
125,166513,University of Massachusetts-Lowell,1,I.B.I,1.338700e+03,0.545953,228529,1.394000e+03,0.620126,-0.074173,Peer,Transfer headcount/enrollment
126,169798,Eastern Michigan University,1,I.B.I,1.336700e+03,0.543270,228529,1.394000e+03,0.620126,-0.076856,Peer,Transfer headcount/enrollment